table {
    border-collapse: collapse;
    margin: auto;
}
thead tr td{
    background-color: cyan;
}
th, td {
    border: solid 1px red;
    padding: 5px;
}
tr:nth-child(odd) {
    background: yellow;
}

tr:nth-child(even) {
    background: lightblue;
}